html, body {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#D7ECFF));
	background: -webkit-linear-gradient(top,  white,  #D7ECFF);
	background: -moz-linear-gradient(top,  white,  #D7ECFF);
	background: -ms-linear-gradient(top,  white,  #D7ECFF);
	background: -o-linear-gradient(top,  white,  #D7ECFF);
    background-color: #D7ECFF;
    color: #636b6f;
    font-family: arial;
    font-weight: 100;
    height: 100%;
    margin: 0;
}